* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;

}

ul,
ol {
    list-style: none;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 50px;
    background-color: rgb(255, 81, 0);
    position: fixed;
    z-index: 99;
    top: 0;
}

.header__image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header__logo {
    padding-left: 25px;
}

.header__btn {
    padding: 16px;
    background-color: rgb(27, 23, 23);
    border-radius: 15px;
    border: transparent;
    position: relative;
    cursor: pointer;
    color: #FFF;
}

.header__btn:hover>.sub-text {
    display: block;
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

.sub-text {
    width: 150px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 98%;
    left: -7%;
    margin-top: 5px;
    padding-top: 10px;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    border-radius: 10px;
    color: #FFF;
    transition: all 1s;
}


.menu__wrapper {
    display: flex;
    gap: 25px;
    justify-content: space-around;
    align-items: center;
}

.menu__item {
    position: relative;
}
.sans{
    padding-right: 50px;
}
.menu__item:hover>.rofl {
    opacity: 1;
    transition: all 0.7s;
}

.rofl {
    position: absolute;
    width: 150px;
    opacity: 0;
    color: #FFF;
    background-color: #000000;
    border-radius: 10px;
    right: 5px;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
    font-size: 14px;
    transition: all 1.5s;
}

.menu__link{
    text-decoration: none;
    font-style: italic;
    font-size: 17px;
    color: #000000;
}

.main {
    overflow-x: hidden;
}

.banda {
    background-image: url(./img/fff.jpg);
    background-size: cover;

}

.banda__title {
    padding-top: 90px;
    font-size: 45px;
    text-align: center;
    color: #000000;
}

.banda__subtitle {
    text-align: center;
    position: relative;
    top: 66%;
}

.banda__container {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    gap: 20px;
    padding-top: 30px;
}

.banda__card {
    display: flex;
    flex: 1;
    width: 16.7%;
    height: 70%;
    box-shadow: 5px 10px 5px 3px #464646;

}

.banda__card.active {
    flex: 6;
    transition: all 1.5s;
}

.one {
    background-image: url(./img/nk.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.two {
    background-image: url(./img/nk2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.three {
    background-image: url(./img/nk3.jpg);
    background-size: cover;
    background-position: bottom;
    border-radius: 10px;
}

.four {
    background-image: url(./img/nk4.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.five {
    background-image: url(./img/nk5.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.six {
    background-image: url(./img/nk6.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.seven {
    background-image: url(./img/dan.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}


/* ========================== */

.alpha {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alpha__container {
    display: grid;
    grid-template-columns: 550px 550px;
    justify-items: center;
    gap: 20px;

}

.alpha__title {
    text-align: center;
    padding: 20px 0 30px 0;
    color: #FFF;
}

.style {
    position: relative;
    z-index: 1;
    width: 450px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 5px 10px 5px 3px #272626;

    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.style:nth-of-type(even) {
    transform: translateX(-400%);
}

.style.show {
    transform: translateX(0);
}


/* ==============car============ */

.car {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding-bottom: 20px;
}

.car__title {
    color: #FFF;
    font-size: 35px;
    padding: 35px 0 5px 0;
    display: flex;
    align-items: center;
}

.car__title::before {

    content: url(./img/free.png);
}

.car__container {
    display: grid;
    justify-items: center;
    grid-template-columns: 550px 550px;
    gap: 5px;
    padding-top: 25px;
}

.car__image {
    width: 450px;
    height: 420px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}

.car1 {
    background-image: url(./img/car.jpg);
}

.car1:hover {
    background-image: url(./img/mem.jpg);
    background-position: center;
    transition: all 0.7s;
}

.car2 {
    background-image: url(./img/car2.jpg);
}

.car2:hover {
    background-image: url(./img/mem2.jpg);
    transition: all 0.7s;
    background-position: center;
}

.car3 {
    background-image: url(./img/car3.jpg);
}

.car3:hover {
    background-image: url(./img/mem3.jpg);
    transition: all 0.7s;
    background-position: center;
}

.car4 {
    background-image: url(./img/car4.webp);
}

.car4:hover {
    background-image: url(./img/mem4.jpg);
    transition: all 0.7s;
    background-position: center;
}

.car5 {
    background-image: url(./img/car5.jpg);
}

.car5:hover {
    background-image: url(./img/mem5.jpg);
    transition: all 0.7s;
    background-position: center;
}

.car6 {
    background-image: url(./img/car6.jpg);
}

.car6:hover {
    background-image: url(./img/mem6.jpg);
    transition: all 0.7s;
    background-position: center;
}

/* =====dota===== */

.dota {
    width: 100vw;
    height: 170px;
    background-image: url(./img/dota.jpg);
    background-position: 50% 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dota__title {
    letter-spacing: 0.5rem;
    margin: 10px 0;
}

.dota__title:hover {
    color: red;
}

.dota__link {
    display: inline-block;
    padding: 20px;
    background-color: #FFF;
    opacity: 0.4;
    text-decoration: none;
    border-radius: 10px;
    color: black;
    font-size: 20px;
}

.dota__link:hover {
    background-color: red;
}


/* =====game==================== */
.game {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/sb.jpg);
  background-size: 140% 147%;
    background-position: 0px -76px;
}

.game__container {
    width: 606px;
    height: 228px;
    border-bottom: 28px solid black;
    margin: auto;
    background-image: url(./img/df.png);
    background-size: cover;

    border-radius: 20px;
}

.btn {
    display: flex;

}

.btn__stop {
    padding: 20px;
    margin-top: 15px;
    background-color: transparent;
    color: #FFF;
    font-size: 18px;
    border-radius: 10px;
    border: transparent;
    margin-bottom: 5px;

}

.btn__stop:hover {
    background-image: url(./img/df.png);
    background-size: cover;

}

#misha {
    width: 50px;
    height: 50px;
    background-image: url(./img/icons8-дота-2-48.png);
    background-color: rgb(211, 205, 200);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
    left: 20px;
}

.sania {
    width: 25px;
    height: 40px;
    background-image: url(./img/icons7-крик-64.png);
    background-color: #f5f0f0;
    background-size: 20px 40px;
    background-position: center;
    border-radius: 5px;
    position: relative;
    top: 110px;
    left: 580px;

}

.sania.start-end {
    animation: deadMov 1s infinite linear;
}

@keyframes deadMov {
    0% {
        left: 580px;
    }

    100% {
        left: -20px;
    }
}

.jump {
    animation: jump 0.3s linear;
}

@keyframes jump {
    0% {
        top: 150px;
    }

    30% {
        top: 130px
    }

    50% {
        top: 80px;
    }

    80% {
        top: 130px;
    }

    100% {
        top: 150px;
    }
}


.game__info{
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    margin: 20px 0 50px 0;
    
}










